

.nav-list a.navhome{
  background-color: #c5247f;
  color: white;
}

.sub-nav-list a.navhome{
    background-color: #c5247f;
    color: white;
  }

.gallery-thumb img:hover {
  border: 4px solid #c5247f;
  cursor:pointer;
}

.ofm-logo{
    width:40%;
    padding-right: 20px;
    padding-bottom: 20px;
}

.site-title {
	color: #424242;
	font-size: 32px;
	font-weight: 400;
	line-height: 54px;
	letter-spacing: -1px;
	margin-bottom: 0;
	display: flex;
}